*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.fix {
    overflow: hidden;
}

.wrapper {
    width:950px;
    margin: 0 auto;
}
/******************* LOGO DIV **************************/
.logo1{
    float: left;
    width: 100%;
	background:#ccc;
    margin-top: 0px;
    
}

.logo_img {
    float: left;
    width: 200px;
}
.sing_out{
	float:right;
	margin-top:50px;
	margin-right:10px;
}
/************************ TOP MENU BAR ***********************/
.top_menu_bar {
    width: 100%;
    height: 50px;
    float: left;
    background: #3A3A3C;
	margin-top: 30px;
}

.top_menu {
    width: 634px;
    margin: 0 auto;
}

.top_menu ul li{
    float: left;
}

.top_menu ul li a {
    
    display: block;
    color: #fff;
    padding: 7px 4px 7px 4px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #3A3A3C;
    border-right: 1px solid #fff;
	text-decoration: none;
}

.top_menu ul li:nth-child(8) a {
    border: 1px solid #3A3A3C;
}

.top_menu ul li a:hover {
    background: #063851;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/***********************main body************************************/
.main_body{
	float: left;
    width: 100%;
    margin-top: 20px;
    background: #ccc;
}
.main_body_left{
	float:left;
	width:200px;
	background:#808080;
}
.list{
	border: solid 1px #ebebeb;
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px
}
.main_body_left ul li a:hover{
	background-color: #d9d9d9;
}
.main_body_right{
	float:right;
	width:750px;
	background:olive;
	height:390px;
	
}

